h1
{
     color: blue;
     text-align: center;
}

h2
{
     font-family: Vivaldi;
}

h3
{
     color: #A272FF;
}

div
{
     border: 2px solid black;
     height: 45px;
     width: 120px;
     border-radius: 5px;
     text-align: center;
     display: inline-block;
     vertical-align: top;
}

a
{
     color: blue;
}